[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
mongoengine = "*"
chardet = "*"
bleach = "*"
dnspython = "*"
sentry-sdk = "*"
pyjwt = "*"
molten = "*"

[dev-packages]
pytest = "*"
black = "*"
mypy = "*"
gunicorn = "*"
mongomock = "*"
factory-boy = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
