[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
apistar = "*"
mongoengine = "*"
apistar-cors = "*"
chardet = "*"

[dev-packages]
cookiecutter = "*"
pytest = "*"
black = "*"
mypy = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
