[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
apistar = "==0.5.42"
mongoengine = "*"
apistar-cors = "*"
chardet = "*"
bleach = "*"
dnspython = "*"
sentry-sdk = "*"

[dev-packages]
pytest = "*"
black = "*"
mypy = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
